@import "bourbon";
@font-face {
    font-family: 'VolvoBroadSmallWeb';
    src: url('../fonts/VolvoBroadSmallWeb.eot?#iefix') format('embedded-opentype'), url('../fonts/VolvoBroadSmallWeb.woff') format('woff'), url('../fonts/VolvoBroadSmallWeb.ttf') format('truetype'), url('../fonts/VolvoBroadSmallWeb.svg#VolvoBroadSmallWeb') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?e5uqa2');
    src: url('../fonts/icomoon.eot?e5uqa2#iefix') format('embedded-opentype'), url('../fonts/icomoon.ttf?e5uqa2') format('truetype'), url('../fonts/icomoon.woff?e5uqa2') format('woff'), url('fonts/icomoon.svg?e5uqa2#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon-close:before {
    content: "\e90c";
}
.icon-route_bus:before {
    content: "\e908";
}
.icon-route_car:before {
    content: "\e909";
}
.icon-route_icon:before {
    content: "\e90a";
}
.icon-break:before {
    content: "\e90b";
}
.icon-mark:before {
    content: "\e90d";
}
.icon-menu_arrow:before {
    content: "\e90e";
}
.icon-shield:before {
    content: "\e90f";
}
.icon-speed:before {
    content: "\e910";
}
.icon-1:before {
    content: "\e900";
}
.icon-2:before {
    content: "\e901";
}
.icon-3:before {
    content: "\e902";
}
.icon-4:before {
    content: "\e903";
}
.icon-5:before {
    content: "\e904";
}
.icon-6:before {
    content: "\e905";
}
.icon-7:before {
    content: "\e906";
}
.icon-8:before {
    content: "\e907";
}
$color: '#fff';
$color2: #7587a1;
$volvo: VolvoBroadSmallWeb;
body {
    //    color: $color;
    font-family: 'Roboto Condensed', sans-serif;
}
a {
    color: #183b84;
}
button,
a {
    outline: none !important;
}
a:active,
a:focus {
    text-decoration: none;
}
.wrap {
    overflow: hidden;
}
.header {
    padding-top: 29px;
    background: #fff;
    position: relative;
    z-index: 1;
    // margin-bottom: 50px;
    &.main {
        margin-bottom: 0;
    }
    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #fff;
    }
    > .container-fluid {
        position: relative;
        z-index: 2;
    }
}
.hearder-in {
    background: #fff;
    position: relative;
    z-index: 1;
}
.container-fluid {
    padding: 0 40px;
    max-width: 1570px;
    margin-left: auto;
    margin-right: auto;
    &.full {
        max-width: 2000px;
    }
}
.logo {
    a {
        display: block;
        &:hover {
            text-decoration: none;
        }
    }
    span {
        display: block;
    }
    .img {
        float: left;
        // text-align: center;
        width: 87px;
    }
    .t {
        margin-left: 115px;
    }
    .t1 {
        font-family: 'VolvoBroadSmallWeb';
        font-size: 48px;
        line-height: 1;
        color: #092561;
        margin-bottom: 8px;
    }
    .t2 {
        font-size: 21px;
        color: $color2;
    }
}
.top-contact {
    // min-width: 390px;
    margin-right: 5px;
    text-align: right;
}
.top-contact-item {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    margin: 0 4%;
    &:last-child {
        margin-right: 0;
    }
    .title {
        color: $color2;
        font-size: 21px;
        text-transform: uppercase;
        margin-bottom: 1px;
    }
    .text {
        font-size: 16px;
        margin-bottom: 3px;
        font-weight: 300;
    }
    .phone {
        font-size: 17px;
        color: #133680;
    }
}
.main-nav-wrap {
    margin-top: 29px;
    background-color: #fdfdfd;
    border: solid 1px #f0f3f7;
    position: relative;
}
.main-nav {
    padding: 15px 0px 0;
    z-index: 2;
    > ul {
        float: left;
        margin: 0;
        padding: 10px 0 0px;
        list-style: none;
        > li {
            &:first-child {
                margin-left: 0;
            }
            &:last-child {
                margin-right: 0;
            }
            display: inline-block;
            margin: 0 19px;
            &:hover .sub-nav,
            &.activen .sub-nav {
                transform: translate(0, 0);
                visibility: visible;
                opacity: 1;
                box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.06);
            }
            > a {
                position: relative;
                font-size: 18px;
                color: #183b84;
                font-weight: bold;
                display: block;
                padding-bottom: 24px;
                z-index: 2;
                &:hover {
                    text-decoration: none;
                }
                .fa {
                    position: absolute;
                    bottom: 8px;
                    left: 50%;
                    margin-left: -9px;
                    color: #d2dae3;
                    font-size: 9px;
                }
            }
        }
    }
    a:hover,
    li.active a {
        color: #4172ba;
    }
    .r-btn {
        float: right;
        .btn {
            font-size: 17px;
        }
    }
}
.btn {
    padding: 8px 18px;
    font-weight: bold;
    transition: all .2s ease-in-out;
    border: solid 1px #183b84;
    border-radius: 2px;
}
a.btn-def,
a.btn-def:active,
a.btn-def:focus {
    color: #fff;
}
.btn-line,
.btn-def:hover,
a.btn-def:hover {
    color: #183b84;
    background: #fff;
}
a.btn-line,
a.btn-line:active,
a.btn-line:focus {
    color: #183b84;
}
.btn-line:hover,
a.btn-line:hover,
.btn-def {
    color: #fff;
    background: #183b84;
}
.sub-nav {
    &.open {
        transform: translate(0px, 0);
        visibility: visible;
        opacity: 1;
        box-shadow: none;
    }
}
.sub-nav,
.service-nav {
    border-bottom: solid 1px #f0f3f7;
    background: #fff;
    position: absolute;
    top: 100%;
    left: -1px;
    right: -1px;
    transform: translate(0px, -100%);
    transition: all 600ms cubic-bezier(0.77, 0, 0.175, 1);
    visibility: hidden;
    // opacity: 0;
    z-index: -1;
    overflow: hidden;
    &.active {
        transform: translate(0, 0);
        visibility: visible;
        opacity: 1;
    }
    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        box-shadow: inset 0 3px 4px 0 rgba(0, 0, 0, 0.06);
        pointer-events: none;
    }
    ul {
        max-width: 1560px;
        margin: 0;
        margin-left: auto;
        margin-right: auto;
        padding: 0;
        list-style: none;
        border-right: solid 1px #f0f3f7;
    }
    li {
        float: left;
        width: 12.5%;
    }
    a {
        text-align: center;
        display: block;
        padding: 0px 0px 5px;
        height: 120px;
        font-size: 13px;
        color: #4172ba;
        border-left: solid 1px #f0f3f7;
        transition: all .2s ease-in-out;
        position: relative;
        &:before {
            content: "";
            position: absolute;
            bottom: -100%;
            height: 100%;
            left: 0;
            right: 0;
            background-color: #224596;
            transition: all .2s ease-in-out;
        }
        .it {
            position: relative;
            z-index: 1;
            display: block;
            //  padding-top: 89px;
            transform: translate(0px, 0px);
            transition: transform .2s ease-in-out;
        }
        .ico {
            display: block;
            background-repeat: no-repeat;
            background-position: center 19px;
            text-align: center;
            line-height: 1;
            font-size: 50px;
            color: #A9B4C5;
            margin-bottom: 17px;
            padding-top: 2px;
            vertical-align: middle;
            height: 70px;
            .icon-5,
            .icon-6 {
                font-size: 40px;
                margin-top: 24px;
            }
            i {
                margin-top: 18px;
                display: inline-block;
                vertical-align: middle;
                transition: all .2s ease-in-out;
            }
        }
        &:hover {
            text-decoration: none;
        }
    }
}
.service-nav li.active a,
.sub-nav li.active a,
.service-nav li a:hover,
.sub-nav li a:hover {
    color: #fff;
    .ico.img {
        -webkit-filter: brightness(10);
        -moz-filter: brightness(10);
        filter: brightness(10);
    }
    .ico {
        i {
            color: #fff;
        }
    }
    &:before {
        bottom: 0;
    }
    .it {
        transform: translate(0px, -5px);
    }
}
.service-nav {
    position: static;
    visibility: visible;
    opacity: 1;
    transform: none;
}
.big-image {
    overflow: hidden;
    background: #E7E7E7;
    position: relative;
    margin-bottom: 32px;
    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        box-shadow: inset 0 5px 5px 0 rgba(0, 0, 0, 0.1), inset 0 -5px 5px 0 rgba(0, 0, 0, 0.1);
        pointer-events: none;
        z-index: 2;
    }
    .img {
        //  max-width: 1400px;
        background: url(../images/big-img.jpg) no-repeat center center;
        background-size: cover;
        margin: 0 auto;
        position: relative;
        img {
            display: block;
            max-width: 100%;
        }
    }
    .text {
        // position: absolute;
        //top: 50px;
        //right: 46px;
        margin-top: 60px;
        margin-right: -15px;
        text-align: right;
        font-family: $volvo;
        font-size: 90px;
        line-height: 1.1;
        color: #ffffff;
        text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    }
}
.heading {
    font-family: $volvo;
    font-size: 28px;
    color: #1b3355;
    margin-bottom: 33px;
    text-transform: uppercase;
    &.line {
        padding-bottom: 18px;
        border-bottom: solid 1px #f0f3f7;
    }
}
.list-car-grag {
    text-align: center;
    margin-bottom: 30px;
    .item {
        position: relative;
        text-align: left;
        display: inline-block;
        vertical-align: bottom;
        transition: all .2s ease-in-out;
        //  height: 80px;
        margin-bottom: 40px;
        &:hover {
            transform: scale(1.04);
        }
        img {}
        .text {
            position: absolute;
            right: 0;
            top: 0px;
            text-align: right;
            line-height: 1;
            span {
                display: inline-block;
            }
            .big {
                font-family: $volvo;
                font-size: 26px;
                color: #7587a1;
            }
            .sm {
                max-width: 40px;
                font-size: 10px;
                color: #7587a1;
                position: relative;
                top: -2px;
                margin-right: 3px;
            }
        }
    }
}
.consult-block {
    background-color: #a3afc1;
    padding: 50px 0;
    color: #fff;
    font-size: 16px;
    line-height: 1.3;
    font-weight: 300;
    margin-bottom: 56px;
    .heading {
        margin-bottom: 16px;
        color: #fff;
    }
    p {
        margin-bottom: 0;
    }
    .phones {
        font-size: 37px;
        font-family: $volvo;
        color: #ffffff;
        text-shadow: -1px 2px 4px rgba(0, 0, 0, 0.11);
        text-align: center;
        line-height: 1.2;
        br {}
    }
    .btn {
        font-size: 18px;
        font-weight: bold;
        margin-top: 20px;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .3);
        float: right;
    }
}
.list-service-info {
    margin-bottom: 80px;
    .item {
        //    text-align: center;
        white-space: nowrap;
        > div {
            display: inline-block;
            vertical-align: top;
        }
        .ico {
            font-size: 70px;
            color: #8EA3B4;
            font-weight: bold;
        }
        .text {
            max-width: 160px;
            font-size: 16px;
            color: #7587a1;
            margin-left: 19px;
            padding-top: 20px;
            text-align: left;
            white-space: normal;
        }
        .text180 {
            max-width: 180px;
        }
    }
}
.contact-block {
    max-width: 480px;
    .heading {}
}
.adr-list {
    border-radius: 2px;
    border: solid 1px #224596;
    overflow: hidden;
    margin-bottom: 22px;
    a {
        float: left;
        width: 50%;
        display: block;
        color: #224596;
        padding: 15px 13px;
        font-size: 16px;
        font-weight: 300;
        transition: all .2s ease-in-out;
        > span {
            display: block;
        }
        .title {
            font-size: 18px;
            font-weight: 500;
        }
        .text {}
        &.active,
        &:hover {
            text-decoration: none;
            background-color: #224596;
            color: #fff;
        }
    }
}
.form-group {
    margin-bottom: 19px;
}
.form-control {
    border-radius: 2px;
    border: solid 1px #e5e5e5;
    box-shadow: none;
    font-size: 16px;
    font-weight: 300;
    &[type=text] {
        height: 39px;
    }
}
select.form-control {
    height: 39px;
}
.select-wrap:before {
    content: '';
    position: absolute;
    top: 18px;
    right: 20px;
    z-index: 1;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 5px 0 5px;
    border-color: #183B84 transparent transparent transparent;
    pointer-events: none;
}
.select-wrap select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.form-s {
    .row {
        margin-left: -9px;
        margin-right: -9px;
        > div {
            padding-left: 9px;
            padding-right: 9px;
        }
    }
    .btn {
        display: block;
        text-align: center;
        font-size: 18px;
        font-weight: bold;
        width: 100%;
        margin-top: 32px;
    }
}
#map {
    width: 100%;
    height: 480px;
    position: relative;
    &:before {
        box-shadow: inset -5px 5px 3px 0 rgba(0, 0, 0, 0.09);
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        pointer-events: none;
        z-index: 2;
    }
}
.map-wrap {
    position: relative;
    .contact-block {
        position: absolute;
        bottom: 0;
        top: 0;
        right: 15%;
        width: inherit;
        max-width: inherit;
        background: #fff;
        padding: 5px 35px;
        z-index: 5;
        box-shadow: 5px 5px 3px 0 rgba(0, 0, 0, 0.09), -5px 5px 3px 0 rgba(0, 0, 0, 0.09);
    }
}
ymaps {
    font-family: 'Roboto Condensed', sans-serif;
    span {
        display: block;
    }
    .t1 {
        font-size: 16px;
        color: #2e3236;
    }
    .t2 {
        font-size: 16px;
        color: #2e3236;
        font-weight: 300;
    }
    .t3 {
        font-size: 14px;
        color: #7587a1;
        font-weight: 300;
    }
    .t4 {
        font-size: 15px;
        color: #224596;
        font-weight: 300;
    }
}
.footer {
    padding: 43px 0 39px;
    border-bottom: 11px solid #092243;
    color: #fff;
    background: #0B2952;
    a {
        color: #fff;
    }
}
.footer-nav {
    //text-align: center;
    margin-bottom: 36px;
    ul {
        padding: 0;
        margin: 0;
        list-style: none;
        li {
            display: inline-block;
            font-size: 21px;
            margin: 0 13px;
        }
        a {
            &:hover {}
        }
    }
}
.footer-logo {
    .img {
        float: left;
        margin-right: 22px;
        &:hover {}
        img {
            width: 65px;
        }
    }
    .title {
        font-size: 32px;
        font-family: $volvo;
        line-height: 1;
        margin-bottom: 10px;
    }
    .text {
        font-size: 13px;
        line-height: 1.4;
        color: #b5beca;
        font-weight: 300;
        span {
            margin-right: 8px;
        }
    }
}
.footer-contact {
    text-align: right;
    .item {
        display: inline-block;
        vertical-align: top;
        font-weight: 300;
        text-align: left;
        margin: 0 4%;
        &:last-child {
            margin-right: 0;
        }
        .title {
            font-size: 24px;
            color: #b5beca;
            margin-bottom: 5px;
            margin-top: -6px;
        }
        .phone {
            font-size: 15px;
        }
    }
}
.modal {
    .modal-title {
        font-size: 43px;
        color: #092561;
        font-family: $volvo;
        text-align: center;
        line-height: 1.2;
        margin-bottom: 20px;
    }
    .modal-body {
        padding: 30px;
    }
    .modal-content {
        border-radius: 2px;
        border: none;
    }
    .call-wrap {
        max-width: 340px;
        margin: 0 auto 30px;
    }
    .adr-list a {
        padding-right: 3px;
    }
    .close {
        position: absolute;
        right: 7px;
        top: 7px;
        float: none;
        z-index: 1;
        font-size: 14px;
        opacity: 1;
        color: #A4B0C1;
    }
}
.call {
    .modal-dialog {
        max-width: 468px;
        width: inherit;
    }
}
.mob-head-line {
    background-color: #062f59;
    padding: 15px;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 990;
    .btn {
        float: left;
        font-size: 16px;
        font-weight: bold;
        padding: 6px 16px;
        &:hover {}
    }
    .open-nav {
        margin-top: 6px;
        float: right;
    }
}
.open-nav {
    cursor: pointer;
    width: 31px;
    span {
        display: block;
        height: 3px;
        background: #fff;
        margin-bottom: 8px;
    }
}
.mask-site {
    position: fixed;
    right: 0;
    bottom: 0;
    top: 0;
    left: 0;
    z-index: 990;
}
.o-hide {
    overflow: hidden;
}
.adr-call-list {
    margin: 26px auto 0;
    max-width: 240px;
    .item {
        margin-bottom: 35px;
    }
    .title {
        font-size: 22px;
        color: #2e3236;
        line-height: 1.2;
        margin-bottom: 5px;
        i {
            color: #7788A2;
            font-size: 20px;
        }
    }
    .adress {
        font-weight: 300;
        font-size: 15px;
        margin-bottom: 5px;
    }
    .ad {
        margin-right: 20px;
    }
    .hour {
        color: rgba(46, 50, 54, 0.75);
    }
    .phone {
        font-size: 18px;
        color: #a3afc1;
        font-weight: 300;
        margin-bottom: 16px;
    }
    .btn {
        display: block;
        font-size: 18px;
        padding: 10px 18px;
    }
}
.inner-page {
    margin-top: 50px;
    margin-bottom: 50px;
    > h1 {
        margin-top: 0;
    }
    .r-sidebar {
        padding-left: 50px;
    }
}
.r-sidebar {
    .r-img {
        margin-bottom: 70px;
    }
}
h1,
.h1 {
    font-size: 38px;
    color: #2e3236;
    margin-bottom: 27px;
}
h1 {
    margin-top: 0;
}
.text-inner {
    font-size: 16px;
    line-height: 1.3;
    color: #2e3236;
    font-weight: 300;
    p {
        margin-bottom: 19px;
    }
}
.text-inner {
    .table {
        margin: 50px 0;
    }
}
.table {
    color: #092561;
    font-weight: 300;
    th {
        text-align: center;
        background-color: #f0f3f7;
        font-weight: 300;
    }
    .price {
        text-align: center;
    }
}
.table-bordered>tbody>tr>td,
.table-bordered>tbody>tr>th,
.table-bordered>tfoot>tr>td,
.table-bordered>tfoot>tr>th,
.table-bordered>thead>tr>td,
.table-bordered>thead>tr>th {
    border-color: #f0f3f7;
}
.zp-phone {
    text-align: right;
    font-size: 24px;
    line-height: 1.4;
    color: #183b84;
    margin: 10px 0 30px;
    font-weight: bold;
}
.zp-form {
    .row {
        margin-left: -10px;
        margin-right: -10px;
        > div {
            padding-left: 10px;
            padding-right: 10px;
        }
    }
    .zp-title {
        font-size: 24px;
        color: #000000;
        margin-bottom: 20px;
        font-weight: bold;
    }
    .btn-send {
        margin-top: 32px;
    }
    .btn {
        font-size: 17px;
    }
    textarea {
        height: 72px;
        resize: none;
    }
}
.world-v-list {
    padding-top: 24px;
    .row {
        margin-left: -20px;
        margin-right: -20px;
        [class^="col-"] {
            padding-left: 20px;
            padding-right: 20px;
        }
    }
    .item {
        margin-bottom: 40px;
        max-width: 400px;
    }
    .img {
        margin-bottom: 16px;
        img {
            display: block;
            width: 100%;
        }
    }
    .text {
        font-size: 15px;
        .title {
            font-weight: bold;
            font-size: 18px;
            margin-bottom: 8px;
        }
        p {}
    }
}
.r-nav {
    width: 280px;
    border: solid 1px #f0f3f7;
    padding: 36px 39px 14px;
    background: #fff;
    &.fix {
        top: 0;
        right: 15px;
        position: absolute;
    }
    ul {
        padding: 0;
        margin: 0;
        list-style: none;
    }
    li {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 22px;
        &.active {
            a {
                color: rgba(65, 114, 186, 0.7);
            }
        }
        a {
            color: #4172ba;
            &:hover {
                color: rgba(65, 114, 186, 0.7);
                text-decoration: none;
            }
        }
    }
}
.mobile-nav-wrap {}
.mobile-nav {
    padding: 12px 10px;
    border-bottom: solid 1px #f0f3f7;
    overflow-x: auto;
    &.fix {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        margin: 0;
        background: #fff;
        z-index: 990;
        border-top: none !important;
    }
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        white-space: nowrap;
        li {
            display: inline-block;
            text-transform: uppercase;
            font-weight: 700;
            margin: 0 12px;
        }
        a {
            font-size: 16px;
            color: #4172ba;
            &:hover {}
        }
        .active a,
        li a:hover {
            color: rgba(65, 114, 186, 0.65);
        }
    }
}
.form-control:focus:-ms-input-placeholder {
    color: transparent
}
.form-control:focus:-moz-input-placeholder {
    color: transparent
}
.form-control:focus::-webkit-input-placeholder {
    color: transparent
}
#map2 {
    width: 100%;
    height: 430px;
}
.shema-map {
    margin-bottom: 56px;
}
.shema-list {
    margin-left: -30px;
    margin-right: -30px;
    [class^="col-"] {
        padding-left: 30px;
        padding-right: 30px;
    }
    .shema-item {
        margin-bottom: 80px;
    }
}
.shema-item {
    .title {
        font-size: 24px;
        margin-bottom: 5px;
        i {
            font-size: 20px;
            margin-right: 8px;
            color: #8A99AF;
        }
    }
    .contact {
        font-weight: 300;
        font-size: 16px;
        margin-bottom: 25px;
        span {
            margin-right: 15px;
        }
        .adr {
            color: #2e3236;
        }
        .time {
            color: rgba(46, 50, 54, 0.75);
        }
        .phone {
            font-size: 17px;
            color: #133680;
            font-weight: 500;
        }
    }
    .map {
        margin-bottom: 38px;
        border: solid 1px #b5beca;
        overflow: hidden;
        > div {
            height: 350px;
            width: 100%;
        }
    }
    .h2 {
        margin: 0 0 16px;
        font-size: 24px;
        font-weight: 300;
        i {
            font-size: 18px;
            margin-right: 8px;
            color: #8A99AF;
        }
    }
}
.modal-body {
    .shema-item {
        .btns {
            visibility: hidden;
            position: absolute;
        }
        .map {
            display: block;
        }
        .text-inner {
            display: block;
        }
    }
}
.left-content {
    min-height: 400px;
}
@import "responsive";
